.logoArea {
  background-color: rgba(255, 255, 255, 0);
}
.actionArea {
  width: 70%;
  min-height: 60%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  margin: 0 0 0 24px;
  border-radius: 7px;
}
.rightArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  height: calc(100vh - 64px);
}
.appLogo {
  width: 100%;
}
