.logoArea {
  background-color: rgba(255, 255, 255, 0);
}
.actionArea {
  width: 70%;
  min-height: 60%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  margin: 0 0 0 24px;
  border-radius: 7px;
}
.rightArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  height: calc(100vh - 64px);
}
.appLogo {
  width: 100%;
}
.leftArea {
  border-left: 1px solid black;
  margin-top: 36px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .actionArea {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .action-child {
      display: block;
      margin-bottom: 16px;
      text-align: center;
    }
  }
}
