body {
  margin: 0;
  padding: 0;
}
.app-background {
  min-height: calc(100vh - 64px);
}
.nav-link {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  display: inherit;
}
.container {
  margin: 0 auto;
  margin-top: 64px;
}
.makeStyles-drawer-6 {
  width: 0;
}
.loader-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f8f8f8ad;
  z-index: 1000;
}

.loader {
  left: 40%;
  top: 30%;

  position: absolute;
}

.primaryButton {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  border: 0 solid red;
  border-radius: 3;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  color: white;
  height: 48;
  padding: 0 30px;
  margin-top: 20px;
}

.logoutButton {
  background: red;
  margin-right: 20px;
  color: white;
}

.raleway {
  font-family: Raleway;
}
///////////////////////////// global margins //////////////////////////
.marginCenter {
  margin: 0 auto;
}
.mt10 {
  margin-top: 10px;
}

.mt25 {
  margin-top: 25px;
}
.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}
.pt0 {
  padding-top: 0;
}

.pt24 {
  padding-top: 24px;
}
