.root {
  display: "flex";
}
.title {
  flex-grow: 1;

  span {
    margin-left: 40px;
  }
}
.appBar {
  background: "green";
}
.appBarShift {
  margin-left: drawerWidth;
}

.hide {
  display: "none";
}
.drawer {
  width: drawerWidth;
  flex-shrink: 0;
}
.drawerPaper {
  width: drawerWidth;
}
.drawerHeader {
  display: "flex";
  align-items: "center";
  justify-content: "flex-end";
}
.content {
  flex-grow: 1;
}
.contentShift {
  margin-left: 0;
}
